/* Global Styles */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Popular Movie Section */

.popular_movie {
  width: 100%;
  padding: 20px 30px;
}

.popular_movie h2 {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}

/* Container Styles */

.popular_movie .container {
  margin-top: 20px;
  max-height: 100%;
}

/* Content Styles */

.popular_movie .container .content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Box Styles */

.popular_movie .container .content .box {
  width: 200px;
  height: 115px;
  overflow: hidden;
  background: #06121e;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
}

.popular_movie .container .content .box:hover {
  transform: scale(1.05);
}

/* Image Box Styles */

.popular_movie .container .content .box .img_box img {
    width: 50px;
    height: 100%;
    object-fit:cover;
}

/* Text Styles */

.popular_movie .container .content .box h3 {
  color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}


/* Media Queries */


/* Large Desktop Devices */
@media (min-width: 1200px) and (max-width: 1500px) {
  .popular_movie .container .content .box {
    width: 250px;
    height: 150px;
  }
  .popular_movie .container .content .box .img_box img {
    width: 70px;
  }
  .popular_movie .container .content .box h3 {
    font-size: 18px;
  }
}


/* Desktop Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .popular_movie .container .content .box {
    width: 220px;
    height: 130px;
  }
  .popular_movie .container .content .box .img_box img {
    width: 60px;
  }
  .popular_movie .container .content .box h3 {
    font-size: 16px;
  }
}


/* Tablet Devices */
@media (min-width: 768px) and (max-width: 991px) {
  .popular_movie .container .content .box {
    width: 200px;
    height: 115px;
  }
  .popular_movie .container .content .box .img_box img {
    width: 50px;
  }
  .popular_movie .container .content .box h3 {
    font-size: 15px;
  }
}


/* Mobile Devices */
@media (min-width: 480px) and (max-width: 767px) {
  .popular_movie .container .content .box {
    width: 180px;
    height: 100px;
  }
  .popular_movie .container .content .box .img_box img {
    width: 40px;
  }
  .popular_movie .container .content .box h3 {
    font-size: 14px;
  }
}


/* Small Mobile Devices */
@media (max-width: 479px) {
  .popular_movie .container .content .box {
    width: 150px;
    height: 80px;
  }
  .popular_movie .container .content .box .img_box img {
    width: 30px;
  }
  .popular_movie .container .content .box h3 {
    font-size: 12px;
  }
}