*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}


.top_movie {
  padding: 20px 30px;
  width: 100%;
}

.top_movie h2 {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}

.top_movie .container {
  max-width: 100%;
  margin-top: 20px;
}

.top_movie .container .content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.top_movie .container .content .box {
  width: 200px;
  height: 115px;
  overflow: hidden;
  background: #06121e;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;

}

.top_movie .container .content .box .img_box img {
  width: 50px;
  height: 100%;
  object-fit: cover;
}

.top_movie .container .content .box h3 {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.top_movie .container .content .box p {
    color: #fff;
    font-size: 15px;
    margin-top: 0px;
}

/* Media Queries */


/* Large Desktop Devices */
@media (min-width: 1200px) and (max-width: 1500px) {
  .top_movie .container .content .box {
    width: 250px;
    height: 150px;
  }
  .top_movie .container .content .box .img_box img {
    width: 70px;
  }
  .top_movie .container .content .box h3 {
    font-size: 18px;
  }
  .top_movie .container .content .box p {
    font-size: 16px;
  }
}


/* Desktop Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .top_movie .container .content .box {
    width: 220px;
    height: 130px;
  }
  .top_movie .container .content .box .img_box img {
    width: 60px;
  }
  .top_movie .container .content .box h3 {
    font-size: 16px;
  }
  .top_movie .container .content .box p {
    font-size: 14px;
  }
}


/* Tablet Devices */
@media (min-width: 768px) and (max-width: 991px) {
  .top_movie .container .content .box {
    width: 200px;
    height: 115px;
  }
  .top_movie .container .content .box .img_box img {
    width: 50px;
  }
  .top_movie .container .content .box h3 {
    font-size: 15px;
  }
  .top_movie .container .content .box p {
    font-size: 13px;
  }
}


/* Mobile Devices */
@media (min-width: 480px) and (max-width: 767px) {
  .top_movie .container .content .box {
    width: 180px;
    height: 100px;
  }
  .top_movie .container .content .box .img_box img {
    width: 40px;
  }
  .top_movie .container .content .box h3 {
    font-size: 14px;
  }
  .top_movie .container .content .box p {
    font-size: 12px;
  }
}


/* Small Mobile Devices */
@media (max-width: 479px) {
  .top_movie .container .content .box {
    width: 150px;
    height: 80px;
  }
  .top_movie .container .content .box .img_box img {
    width: 30px;
  }
  .top_movie .container .content .box h3 {
    font-size: 12px;
  }
  .top_movie .container .content .box p {
    font-size: 10px;
  }
}