.TVShows {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.TVShows h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

.TVShows .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TVShows .container .tvShow {
  margin: 20px;
  width: calc(25% - 40px);
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.TVShows .container .tvShow:hover {
  transform: scale(1.05);
}

.TVShows .container .tvShow img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.TVShows .container .tvShow h3 {
  margin-top: 20px;
  color: #333;
}

.TVShows .container .tvShow p {
  color: #666;
}

/* Media Queries */


/* Large Desktop Devices */
@media (min-width: 1200px) and (max-width: 1500px) {
  .TVShows .container .tvShow {
    width: calc(20% - 40px);
  }
  .TVShows .container .tvShow img {
    max-width: 100%;
    height: auto;
  }
  .TVShows .container .tvShow h3 {
    font-size: 18px;
  }
  .TVShows .container .tvShow p {
    font-size: 16px;
  }
}


/* Desktop Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .TVShows .container .tvShow {
    width: calc(25% - 40px);
  }
  .TVShows .container .tvShow img {
    max-width: 100%;
    height: auto;
  }
  .TVShows .container .tvShow h3 {
    font-size: 16px;
  }
  .TVShows .container .tvShow p {
    font-size: 14px;
  }
}


/* Tablet Devices */
@media (min-width: 768px) and (max-width: 991px) {
  .TVShows .container .tvShow {
    width: calc(33.33% - 40px);
  }
  .TVShows .container .tvShow img {
    max-width: 100%;
    height: auto;
  }
  .TVShows .container .tvShow h3 {
    font-size: 14px;
  }
  .TVShows .container .tvShow p {
    font-size: 12px;
  }
}


/* Mobile Devices */
@media (min-width: 480px) and (max-width: 767px) {
  .TVShows .container .tvShow {
    width: calc(50% - 40px);
  }
  .TVShows .container .tvShow img {
    max-width: 100%;
    height: auto;
  }
  .TVShows .container .tvShow h3 {
    font-size: 12px;
  }
  .TVShows .container .tvShow p {
    font-size: 10px;
  }
}


/* Small Mobile Devices */
@media (max-width: 479px) {
  .TVShows .container .tvShow {
    width: 100%;
    margin: 20px 0;
  }
  .TVShows .container .tvShow img {
    max-width: 100%;
    height: auto;
  }
  .TVShows .container .tvShow h3 {
    font-size: 10px;
  }
  .TVShows .container .tvShow p {
    font-size: 8px;
  }
}